<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DBDeteccionEntities" connectionString="metadata=res://*/DBSMovilizacion.DBDeteccionEntities.csdl|res://*/DBSMovilizacion.DBDeteccionEntities.ssdl|res://*/DBSMovilizacion.DBDeteccionEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5092.site4now.net;initial catalog=DB_A36881_Deteccion;user id=DB_A36881_Deteccion_admin;password=De7ecc10n;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DBSMovilizacionIdentityEntities" connectionString="metadata=res://*/IdentityModels.Identity.csdl|res://*/IdentityModels.Identity.ssdl|res://*/IdentityModels.Identity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.11;initial catalog=DBSMovilizacionIdentity;persist security info=True;user id=usrMovilizacion;password=4%M0v1l12ac0n20.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DBDeteccionEntities" connectionString="metadata=res://*/DBSMovilizacion.DBDeteccionEntities.csdl|res://*/DBSMovilizacion.DBDeteccionEntities.ssdl|res://*/DBSMovilizacion.DBDeteccionEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.11;initial catalog=DBSMovilizacion;user id=usrMovilizacion;password=4%M0v1l12ac0n20.;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBSMovilizacionIdentityEntities" connectionString="metadata=res://*/IdentityModels.Identity.csdl|res://*/IdentityModels.Identity.ssdl|res://*/IdentityModels.Identity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.11;initial catalog=DBSMovilizacionIdentity;persist security info=True;user id=usrMovilizacion;password=4%M0v1l12ac0n20.;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>